.check-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .check_Up-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 10px 0;

    @media (max-width: 360px - 1px) {
      padding: 20px;
    }
  }

  .check-text {
    max-width: 640px;
    margin: 20px 0 !important;

    @media (max-width: 360px - 1px) {
      margin: 5px 0 !important;
    }
  }
}
.print_status_msg {
  padding: 30px;
  background-color: #f2f2f2;
}
.loading-img {
  padding: 60px;
}

img {
  align-items: center;
}
h1 {
  text-align: center;
  padding: 30px;
}
p {
  text-align: center;
}
