@import "../../layout/theme.scss";

.footer {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  background-color: $md-primary-color;
  padding: 0px;
  margin: 0px;
  position: fixed;
  bottom: 0;
  height: 80px;

  .boxes-container {
    display: flex;
    direction: row;
    justify-content: left;
    justify-items: center;

    align-items: center;
    flex-wrap: no-wrap;

    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100px;

    .user-button {
      display: flex;
      position: albsolute;
      align-self: center;
      text-align: center;
      justify-self: center;
      p {
        color: #444444;
      }
      height: 80px;
      width: 80px;
    }
  }
}
